#adt_front_wrapper1168{ display: none; width: 195px !important; height: 308px !important; overflow: hidden !important;
}
#adt_front_wrappersecond1168{ background: #c37878 !important; padding: 5px 5px 5px 5px; -webkit-box-shadow: 2px 1px 3px 1px #d36363 !important; -moz-box-shadow: 2px 1px 3px 1px #d36363 !important; box-shadow: 2px 1px 3px 1px #d36363 !important;
}
